{% extends 'base.html.twig' %}

{% block stylesheets %}
		
		
		#equipment{
			margin-top:10px;
		}
		
		#inputs{
			display:inline-block;
		}
		
		.glyphicon{
			cursor: pointer;
		}
		
		#tables{
			margin-top:10px;
			margin-bottom: 10px;
		}
	
		#wTable, #wName, #wGroup, #wType, #dType, #aTable{
			width:100%;
			text-align:center;
		}
		
		#wName th{
		}
		
		 #separator{
		 	height:100px;
		 }
		
		th{
			text-align: center;
		}
		
{% endblock %}


{% block body %}
		<div id="content">
		<div id="equipment">
			<div id="inputs">
				<div class = "col-md-12 weapon">	
					<table id="wTable" border="1" class="col-md-6">
						<tr>
							<th>Name</th>
							<th>Weapon Group</th>
							<th>Damage</th>
							<th>Damage Type</th>
							<th>Critical</th>
							<th>Range</th>
							<th>Type</th>
						</tr>
						
						<tr>
							<td><input class="wInput" type="text" placeholder="Weapon"><span class="glyphicon glyphicon-plus-sign addWeapon" aria-hidden="true" onclick="checkWeapon(this)"></span></td>
						</tr>
					</table>
				</div>
				<div class = "col-md-12 armor">
						<div id="separator"></div>
				
						<table id="aTable" border="1" class="col-md-6">
							<tr>
								<th>Name</th>
								<th>Type</th>
								<th>AcBonus</th>
								<th>MaxDex</th>
								<th>CheckP</th>
								<th>SpellFailure</th>
								<th>Weight</th>
								<th>Metallic</th>
							</tr>
							
							<tr>
								<td><input class="aInput" type="text" placeholder="Armor"><span class="glyphicon glyphicon-plus-sign addArmor" aria-hidden="true" onclick="checkArmor(this)"></span></td>
							</tr>			
								</table>
				</div>
			</div>
			
				

					
					{#<tr id="wName">#}
	    {#			<th class="col-md-4" colspan="1">Name</th>#}
					{#</tr>#}
					
					{#<tr id="wGroup">#}
	    {#			<th class="col-md-4" colspan="1">wGroup</th>#}
	    {#			<td class="col-md-8" colspan="4"></td>#}
					{#</tr>#}
					
					{#<tr id="wType">#}
					{#	<tr>#}
	    {#			<th class="col-md-4" colspan="1">wType</th>#}
	    {#			</tr>#}
	    {#			<tr>#}
	    {#			<td class="col-md-8" colspan="8">holaaaa</td>#}
	    {#			<td class="col-md-8" colspan="8">adiossss</td>#}
	    {#			</tr>#}
					{#</tr>#}
					
					{#<tr id="dType">#}
	    {#			<th class="col-md-4" colspan="1">dType</th>#}
	    {#			<td class="col-md-8" colspan="4"></td>#}
					{#</tr>#}
					
					{#<tr id="wHeaders">#}
	    {#			<th class="col-md-2  col-md-offset-1">dS</th><th class="col-md-2">dM</th><th class="col-md-2">crit</th><th class="col-md-2">wpR</th><th class="col-md-2">wght</th>#}
					{#</tr>#}
					
					{#<tr id="wInfo">#}
	    {#			<td class="col-md-2 col-md-offset-1">dS</td><td class="col-md-2">dM</td><td class="col-md-2">crit</td><td class="col-md-2">wpR</td><td class="col-md-2">wght</td>#}
					{#</tr>#}
					
		
				
				
				
				<!-- <table id="aTable" border="1" class="col-md-12">
					<tr id="aName">
	    			<th class="col-md-2" colspan="1">Name</th>
					</tr>
					
					<tr id="aType">
	    			<th class="col-md-2" colspan="1">aType</th>
					</tr>

					<tr id="aHeaders">
	    			<th class="col-md-3">acB</th><th class="col-md-3">maxDex</th><th class="col-md-3">checkPenalty</th><th class="col-md-3">spFail</th>
					</tr>
					
					<tr id="aProperties">
					</tr>
					
					<tr id="aHeaders">
	    			<th class="col-md-4">Weight</th><th class="col-md-4" colspan="2">Has metal</th><th class="col-md-4">More info</th>
					</tr>
					
					<tr id="aInfo">
					</tr>
					
				</table>
			
		</div>
	</div>-->
  
 {# <select id = "weapon">#}
	{#	{% for weapon in weapons %}#}
	{#  	<option>{{ weapon['name'] }}</option>#}
	{#  {% endfor %}   #}
	{#</select>#}
	
	{#<select id = "armor">#}
	{#	{% for armor in armors %}#}
	{#  	<option>{{ armor['name'] }}</option>#}
	{#  {% endfor %}   #}
	{#</select>#}

  {#<table border = "1" style = "text-align:center;">#}
  {#	<tr>#}
  {#		<th>Base Attack</th>#}
  {#		<th>Fortitude</th>#}
  {#		<th>Reflex</th>#}
  {#		<th>Will</th>#}
  {#		<th>AC Bonus</th>#}
  {#	</tr>#}
  {#	<tr>#}
  {#		<td id = "Attack">0</td>#}
  {#		<td id = "Fortitude">0</td>#}
  {#		<td id = "Reflex">0</td>#}
  {#		<td id = "Will">0</td>#}
  {#		<td id = "AC">0</td>#}
  {#	</tr>#}
  {#</table>#}
  
  {#<table id = "skills" border = "1" style = "text-align:center;">#}
  {#	<tr>#}
  {#		<th>Skill Name</th>#}
  {#	</tr>#}
  {#</table>#}
  
  {#<table id = "weapon" border = "1">#}
  {#	<tr>#}
  {#		<th>Weapon Name</th>#}
  {#	</tr>#}
  {#</table>#}

  
{% endblock %}

{% block javascripts %}

	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	
	<script>
		$(document).ready(function(){
			completeWeapon(); completeArmor();
		// 	getStats(); getSkills();
			
		// 	$("select").on('change', function() {
		// 		getStats(); clearTable(); getSkills();
		// 	});
		});
		
		function getStats(){
			$.ajax({
					url: "buildClass/" + $("#class").val() + "," + $("#lvl").val(),
					method: "POST",
					dataType: "JSON"
			}).done(function( data ){
					$("#Attack").html(data[0]['baseattack']);
					$("#Reflex").html(data[0]['refsave']);
					$("#Fortitude").html(data[0]['fortsave']);
          $("#Will").html(data[0]['willsave']);
          $("#AC").html(data[0]['acbonus']);
      });
		}
      
      function getSkills(){
				$.ajax({
						url: "ClassSkills/" + $("#class").val(),
						method: "POST",
						dataType: "JSON"
				}).done(function(data){
						for(var i = 0; i < data.length; i++){
							$("#skills").append("<tr class = 'skill'><td>" + data[i][0]['skillname'] + "</td></tr>");
						}
	      });
      }
      
      function clearTable(){
      	$(".skill").remove();
      }
      
      function checkWeapon(object){
      	if($(object).hasClass("addWeapon")){
      		$(object).removeClass("addWeapon").addClass("removeWeapon");
      		$(object).removeClass("glyphicon-plus-sign").addClass("glyphicon-minus-sign");
      		$("#wTable").append("<tr><td><input class='wInput' type='text' placeholder='Weapon'><span class='glyphicon glyphicon-plus-sign addWeapon' aria-hidden='true' onclick='checkWeapon(this)'></span></td></tr>");
      		completeWeapon();
      	}
      		
      	else if($(object).hasClass("removeWeapon"))
      		$(object).parent().parent().remove();
      	
      }
      
      function checkArmor(object){
      	if($(object).hasClass("addArmor")){
      		$(object).removeClass("addArmor").addClass("removeArmor");
      		$(object).removeClass("glyphicon-plus-sign").addClass("glyphicon-minus-sign");
      		$("#aTable").append("<tr><td><input class='aInput' type='text' placeholder='Armor'><span class='glyphicon glyphicon-plus-sign addArmor' aria-hidden='true' onclick='checkArmor(this)'></span></td></tr>");
      		completeArmor();
      	}
      	
      	else if($(object).hasClass("removeArmor"))
      		$(object).parent().parent().remove();
      	
      }
      
      function completeWeapon(){
      	$.ajax({
					url: "/weapons",
					dataType: "JSON",
					success: function(data){
						var names = [];
						
						for(var i = 0; i < data.length; i++){
							names.push(data[i]['name']);
						}
						
						$(".wInput").autocomplete({
							source: names,
							response: function(event, ui) {
								$(".addWeapon").click(function(){
									checkWeaponName(ui.content, $(this).parent().find(".wInput"));
								});
							}
						});
					}
				});
      }
      
      function completeArmor(){
      	$.ajax({
					url: "/armors",
					dataType: "JSON",
					success: function(data){
						var names = [];
						
						for(var i = 0; i < data.length; i++){
							names.push(data[i]['name']);
						}
						
						$(".aInput").autocomplete({
							source: names,
							response: function(event, ui) {
								$(".addArmor").click(function(){
									checkArmorName(ui.content,$(this).parent().find(".aInput"));
								});
							}
						});
					}
				});
      }
      
      function checkWeaponName(names, object){
      	for(var i = 0; i < names.length; i++){
      		if(names[i]['value'] == $(object).val()){
     				$(object).attr('readonly', 'readonly');
      			getWeapon($(object).val(),  $(object));
      			return ;
      		}
      	}
      	
      	$(object).attr('readonly', 'readonly');
      }
      
      function getWeapon(name, object){
      	
      	console.log(object);
      	$.ajax({
      		url: "/weapon/" + name,
      		dataType: "JSON",
      		success: function(data){
      			console.log(data);
      			$(object).parent().parent().append(
      				"<td>" + data[0]['weapongroup'] + "</td>" +
      				"<td>" + data[0]['damages'] + " | " + data[0]['damagem'] + "</td>" +
      				"<td>" + data[0]['damagetype'] + "</td>" +
      				"<td>" + data[0]['critical'] + "</td>" +
      				"<td>" + data[0]['wprange'] + "</td>" +
      				"<td>" + data[0]['weapontype'] + "</td>"
      			);
      		}
      	})
      }
      
      function checkArmorName(names, object){
      	for(var i = 0; i < names.length; i++){
      		if(names[i]['value'] == $(object).val()){
     				$(object).attr('readonly', 'readonly');
      			getArmor($(object).val(), $(object));
      			return ;
      		}
      	}
      	
      	$(object).attr('readonly', 'readonly');
      }
      
      function getArmor(name, object){
      	$.ajax({
      		url: "/armor/" + name,
      		dataType: "JSON",
      		success: function(data){
      			console.log(data);
      			
						$(object).parent().parent().append(
      				"<td>" + data[0]['armortype'] + "</td>" + 
      				"<td>" + data[0]['acbonus'] + "</td>" + 
      				"<td>" + data[0]['maxdex'] + "</td>" + 
      				"<td>" + data[0]['checkpenalty'] + "</td>" + 
      				"<td>" + data[0]['spellfailure'] + "</td>" +
      				"<td>" + data[0]['weight'] + "</td>" +
      				"<td>" + data[0]['ismetal'] + "</td>"
      			);
      		}
      	})
      }
	</script>
{% endblock %}