{% extends 'base.html.twig' %}
{% block stylesheets %}

    .create-build-div{
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 0px;
    }

    input[name='titleOfBuild']{
    font-size: 24px;
    padding: 0px;
    }
    .create-build-div > div{
    padding-top:10px;
    padding-bottom:10px;
    }

    .languages{
    margin-top:10px;
    margin-bottom:10px;
    }

    .label-default{
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    width:31px;
    text-align: center;
    }

    .abilities, .ac , .otherAc, .st, #baseAttack, .grapple{
    height: 28px;
    padding:2px;
    text-align:center;
    margin-top: -4px;
    min-width:30.3px;
    }

    .abilities-row,.class-row, .possessions-row{
    margin-top:8px;
    margin-bottom:8px;
    }

    .abilities-div, .grapple-div{
    padding-right:13px;
    padding-left:30px;
    }

    .grapple-div{
    padding-right:16px;
    padding-left:30px;
    }

    .ac-div{
    padding-right:30px;
    padding-left:30px;
    }

    .st-div{
    padding-right: 0px;
    padding-left: 52px;
    }

    #speed{
    padding:10px;
    text-align:center;
    }

    .ac-tab{
    margin-top: 10px;
    padding-left:0px;
    }

    .iniciative{
    margin-top: 10px;
    }

    .glyphicon-plus-sign, .glyphicon-minus-sign{
    font-size:24px;
    line-height: 1.4;
    margin-left: -5px;
    }

    #grapple-tab{
    margin: 8px;
    margin-top: 10px;
    }

    .class-row{
    padding:0px;
    }

    #btnsDiv{
    text-align: right;
    }
    
    .skill{
        padding: 0;
        margin-top: 15px;
    }
    
    .weapon, .armor{
        margin-top: 15px;
        vertical-align: initial;
    }
{% endblock %}

{% block body %}
    <div class="create-build-div hidden row col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="row"> 
            <div class=" col-md-8 col-lg-8 col-sm-8 col-xs-8">
                <label for="titleOfBuild">Build Title</label>
                <input type="text" name="titleOfBuild" placeholder="Name of your awesome build" class="form-control"/>
            </div>

            <div class="col-md-offset-2 col-lg-offset-2 col-sm-offset-2 col-xs-offset-2 col-md-2 col-lg-2 col-sm-2 col-xs-2">
                <label for="totalLvl">Total Build Lvl</label>
                <input type="text" name="totalLvl" id="totalLvl" value="1"  maxlength="2" onchange="totalLvlChange(this);
                        validateOnlyNumbers($(this));" class ="form-control"/>
            </div>
        </div>
        <div class="row"> 

            <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                <label for="raceSelect">Race</label>
                <select class="form-control" onchange="raceSelected();" id="raceSelect">
                    {% for race in races %}
                        <option value="{{ race["name"] }}">{{ race["name"] }}</option>
                    {% endfor %}   
                </select>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                <label for="alignment">Alignment</label>
                <select class="form-control" id="alignment">
                    <option value="Lawful Good">Lawful Good</option>
                    <option value="Neutral Good">Neutral Good</option>
                    <option value="Chaotic Good">Chaotic Good</option>
                    <option value="Lawful Neutral">Lawful Neutral</option>
                    <option value="Neutral">Neutral</option>
                    <option value="Chaotic Neutral">Chaotic Neutral</option>
                    <option value="Lawful Evil">Lawful Evil</option>
                    <option value="Neutral Evil">Neutral Evil</option>
                    <option value="Chaotic Evil">Chaotic Evil</option>
                </select>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                <label for="deity">Deity</label>
                <input type="text" name="deity" id="deity" class ="form-control"/>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                <label for="size">Size</label>
                <input type="text" name="size" id="size" class ="form-control" readonly/>
            </div>
            <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
                <label for="speed">Speed</label>
                <input type="text" name="speed" id="speed" class ="form-control" readonly/>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                <label for="favClass">Favored Class</label>
                <input type="text" name="favClass" id="favClass" class ="form-control" readonly/>
            </div>
        </div>
        <div class="row col-md-7 col-lg-7 col-sm-7 col-xs-7" id="classes-div">
            <div class = "col-md-12 col-lg-12 col-sm-12 col-xs-12 row class-row">
                <div class = "col-md-6 col-lg-6 col-sm-6 col-xs-6">
                    <label for='class' >Class</label>
                </div>
                <div class = "col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <label for='lvl' >Lvl</label>
                </div>
            </div>
        </div>

    </div>  
    <div class="create-build-div hidden row col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <hr>
        <div class=" col-md-4 col-lg-4 col-sm-12 col-xs-12" id="abilities-tab">
            <div class="row abilities-row">
                <div class=" col-md-1 col-lg-1 col-sm-1 col-xs-1">
                    <label>Ability Name</label><!-- label for input groups?-->
                </div>
                <div class="col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1 col-md-2 col-lg-2 col-sm-2 col-xs-2 abilities-div">
                    <label>Ability Score</label>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2 abilities-div">
                    <label>Race Mod.</label>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2 abilities-div">
                    <label>Other Mod.</label>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2 abilities-div">
                    <label>Mod.</label>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
            {#            Hp will be here#}
            {#   <div class="row">
                   <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
                       <label class="label label-default" for="hp">HP</label></div>
                   <div class="col-md-11 col-lg-11 col-sm-11 col-xs-11">
                       <input type="text" name="hp" onchange="validateOnlyNumbers($(this))"  id="hp" class ="form-control"/>
                   </div>
               </div>#}
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ac-tab" id="ac-tab">
                    <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
                        <label class="label label-default">AC</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ac-tab">

                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 ac-tab">
                        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                            <label class="label label-default">Touch </label>
                        </div>
                        <div class="col-md-5 col-lg-5 col-sm-5 col-xs-5">
                            <input type="text" name="ac-touch" id="ac-touch" value="10" onchange="validateOnlyNumbers($(this))" class ="form-control otherAc" readonly/>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 ac-tab">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                            <label class="label label-default">Flat-Footed</label>
                        </div>
                        <div class="col-md-5 col-lg-5 col-sm-5 col-xs-5">
                            <input type="text" name="ac-flatfooted" id="ac-flatfooted" onchange="validateOnlyNumbers($(this))"  value="10" class ="form-control otherAc" readonly/>
                        </div>
                    </div>
                </div>
                <div class="row col-md-12 col-lg-12 col-sm-12 col-xs-12 iniciative">
                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                        <label class="label label-default">Iniciative</label>
                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                        <input type="text" name="iniciative" id="iniciative"  value="0" onchange="validateOnlyNumbers($(this))" class="form-control otherAc" readonly/>
                        <label >Total</label>
                    </div>
                    <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
                        <input type="text" name="iniciative-dex" id="iniciative-dex" value="0"  class ="form-control otherAc" readonly/>
                        <label for="iniciative-dex">Dex Mod</label>
                    </div>
                    <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
                        <input type="text" name="iniciative-misc" id="iniciative-misc"  value="0" onchange="validateOnlyNumbers($(this));
                                recalculateIniciative()" class ="form-control otherAc"/>
                        <label for="iniciative-misc">Misc Mod</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="create-build-div hidden row col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <hr>
            <div id="savingthrows" class ="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="row abilities-row"> 
                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                        <label>Saving Throws</label>
                    </div>
                    <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1 st-div">
                        <label>Total</label>
                    </div>
                    <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1 st-div">
                        <label>Base Save</label>
                    </div>
                    <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1 st-div">
                        <label>Ability</label>
                    </div>
                    <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1 st-div">
                        <label>Racial</label>
                    </div>
                    <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1 st-div">
                        <label>Misc</label>
                    </div>
                </div>
            </div> 
            <div class ="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="row abilities-row"> 
                    <div class ="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                        <label for="baseAttack" class="label label-default">Base Attack Bonus</label>
                    </div>
                    <div class ="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                        <input type="text" name="baseAttack" id="baseAttack" value="0"  class ="form-control" readonly/>
                    </div>
                </div>
                <div class="row" id="grapple-tab"> 
                    <div class ="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                        <label for="grappleTotal" class="label label-default">Grapple</label>
                    </div>
                </div>
            </div> 
        </div>
        
       {# BEGIN WEAPONS TABLE #}
        <div class="create-build-div hidden row col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <hr>
            <table id="wTable" class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
				<tr>
					<th><label class="label label-default">Name</label></th>
					<th><label class="label label-default">Weapon Group</label></th>
					<th><label class="label label-default">Damage</label></th>
					<th><label class="label label-default">Damage Type</label></th>
					<th><label class="label label-default">Critical</label></th>
					<th><label class="label label-default">Range</label></th>
					<th><label class="label label-default">Type</label></th>
				</tr>
				
				<tr>
					<td style = "display: inline-flex" class = "weapon">
					    <input class="wInput form-control col-xs-10 col-sm-10 col-md-10 col-lg-10" type="text" placeholder="Weapon"/>
					    <span class="glyphicon glyphicon-plus-sign col-xs-2 col-sm-2 col-md-2 col-lg-2 addWeapon" aria-hidden="true" onclick="checkWeapon(this)"></span>
			        </td>
				</tr>
			</table>
        </div>
        {# END WEAPONS TABLE #}
         
        {# BEGIN ARMOR TABLE #}
        <div class="create-build-div hidden row col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <hr>
		    <table id="aTable" class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
				<tr>
					<th><label class="label label-default">Name</label></th>
					<th><label class="label label-default">Type</label></th>
					<th><label class="label label-default">AcBonus</label></th>
					<th><label class="label label-default">MaxDex</label></th>
					<th><label class="label label-default">CheckP</label></th>
					<th><label class="label label-default">SpellFailure</label></th>
					<th><label class="label label-default">Weight</label></th>
					<th><label class="label label-default">Metallic</label></th>
				</tr>
				<tr>
					<td style = "display: inline-flex" class = "armor">
					    <input class="aInput form-control" type="text" placeholder="Armor">
					    <span class="glyphicon glyphicon-plus-sign col-xs-2 col-sm-2 col-md-2 col-lg-2 addArmor" aria-hidden="true" onclick="checkArmor(this)"></span>
			        </td>
				</tr>			
		    </table> 
        </div>
        {# END ARMOR TABLE #}
        
        {# BEGIN SKILL TABLE #}
        <div class="create-build-div hidden row col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <hr>
            <table id = "skills" class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            	<tr>
            		<th><label class="label label-default">Skill Name</label></th>
            	</tr>
            </table>
        </div>
        {# END SKILL TABLE #}
        <div class="create-build-div hidden row col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <hr>
            <div class="row col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <label class="label label-default">Possessions</label>
            </div>
            <div class="row col-md-12 col-lg-12 col-sm-12 col-xs-12" id="possessions-div">
                <div class = "col-md-12 col-lg-12 col-sm-12 col-xs-12 row possessions-row">
                    <div class = "col-md-6 col-lg-6 col-sm-6 col-xs-6">
                        <label>Item</label>
                    </div>
                    <div class = "col-md-3 col-lg-3 col-sm-3 col-xs-3">
                        <label>Page</label>
                    </div>
                    <div class = "col-md-3 col-lg-3 col-sm-3 col-xs-3">
                        <label>Weight</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="create-build-div hidden row col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <hr>
            <div class=" col-md-9 col-lg-9 col-sm-9 col-xs-9">
                <label for="raceTraits">Race Traits</label>
                <ul  id="raceTraits"></ul>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                <div id="languagesFromRaceDiv">
                    <label for="languagesRace" >Languages From Race</label>
                    <input type="text" name="languagesRace" value="Common" class="form-control languages" readOnly/>
                </div>
                <div id="languagesBonusDiv">
                    <label for="languagesBonus" >Other Languages</label>
                </div>
            </div>
        </div>
        <div class="create-build-div hidden row col-md-12 col-lg-12 col-sm-12 col-xs-12" id="buildText">
            <hr>
            <div class="row col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <label class="label label-default">Build Explanation</label>
            </div>
            <div class="row col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div  id="editor-container"></div>
            </div>
        </div>
        <div class="create-build-div hidden row col-md-12 col-lg-12 col-sm-12 col-xs-12" id="btnsDiv">
            <hr>
            <button id="btnSave" class="btn btn-default">Save</button>
            <button onclick="location.href = '{{ path('homepage') }}'" class="btn btn-default">Cancel</button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>

        var race = "Human";
        var abilities = ["STR", "DEX", "CON", "INT", "WIS", "CHA"];
        var bonusLanguages = '';
        var optionsClass = '{% for class in classes %}<option value="{{ class['nameclass'] }}">{{ class['nameclass'] }}</option>{% endfor %}';
        var optionsClassLvl = '{% for lvl in lvls %}<option value="{{ lvl['lvl'] }}">{{ lvl['lvl'] }}</option>{% endfor %}';
        var quill = '';
        $(document).ready(function () {
            $('#languagesBonusDiv').hide('show');
            buildAbilities();
            raceSelected();
            buildAC();
            classSelected();
            buildSavingThrows();
            buildGrapple();
            buildPossesion(1, [''], [''], ['']);
            //change this when creating the view or editing build
            buildClass(1, ['Barbarian'], ['1']);
            classSelected();
            $('iniciative-dex').val($('#mod-DEX').val());
            $(document).ajaxStop(function () {
                $('.hidden').fadeIn(1000).removeClass('hidden');
            });
            quill = new Quill('#editor-container', {
                modules: {
                    toolbar: [
                        [{header: [1, 2, false]}],
                        ['bold', 'italic', 'underline'],
                        ['image', 'code-block', 'link']
                    ]
                },
                placeholder: 'Your epic build explanation here',
                theme: 'snow'  // or 'bubble'
            });

            //para guardar:  console.log(document.querySelector(".ql-editor").innerHTML);
            $(".classes").change(function(){
                clearTable(); getSkills();
            });
            
            completeArmor(); completeWeapon(); getSkills();
        });

        $("#btnSave").click(function () {
            $.ajax({
                type: "POST",
                url: 'saveBuild',
                data: {
                    titleOfBuild: $('input[name="titleOfBuild"]').val()
                },
                success: function (data) {
                    alert('you did it!', + data); // show response from the php script.
                }
            });
        });
        /**
         * alerts that show the input control
         * @author Sara Henriques
         */
        bootstrap_alert = function () {}
        bootstrap_alert.warning = function (message, alert, timeout, x, y) {
            $('<div id="floating_alert" class="alert alert-' + alert
                    + ' fade in" style="position: absolute;top:' + x + 'px;left: ' + y + 'px;">'
                    + '<button type="button" class="close" data-dismiss="alert" '
                    + 'aria-hidden="true">×</button>' + message + '&nbsp;&nbsp;</div>').appendTo('body');
            setTimeout(function () {
                $(".alert").alert('close');
            }, timeout);
        }


        /**functions for input control**/

        /**
         * Controls the max lvl of the total build lvl input
         * @param {string} input
         * @author Sara Henriques
         */
        function totalLvlChange(input) {
            if (input.value < 0)
                input.value = 0;
            if (input.value > 20) {
                var offset = $('#totalLvl').offset();
                bootstrap_alert.warning('Only 20 lvls supported', 'warning', 3000, offset.top, (offset.left + input.offsetWidth + 10));
                input.value = 20;
            }
        }

        /**
         * validates that the input is a number
         * @param {object} object
         * @author Sara Henriques
         */
        function validateOnlyNumbers(object) {
            var inpValue = object.val();
            var regex = /[0-9]/;
            if (!regex.test(inpValue)) {
                var offset = object.offset();
                bootstrap_alert.warning('Only numbers allowed', 'warning', 3000, offset.top, (offset.left + object.width() + 10));
                object.val(0);
            }
        }

        /**
         * validates that the input is a sign followed by a number
         * @param {object} object
         * @author Sara Henriques
         */
        function validateMod(object) {
            var inpValue = object.val();
            var regex = /^[\-0-9]/;
            var regexSignal = /^[+-]/;
            if (!regexSignal.test(inpValue.substr(0, 1)) || !regex.test(inpValue.substr(1, object.val().length))) {
                var offset = object.offset();
                bootstrap_alert.warning('Please introduce a sign and the modifier. Example: +2', 'warning', 3000, offset.top, (offset.left + object.width() + 10));
                object.val(0);
            }
            recalculateAbilityModifier(object.attr('id'));
        }


        /**functions build control related**/

        /**
         * Modifies/updates all things related to a new race selected through ajax
         * race traits, size, speed, favored class, languages and ability adjustments 
         * @author Sara Henriques
         */
        function raceSelected() {
            var selectBox = document.getElementById("raceSelect");
            var selectedRace = selectBox.options[selectBox.selectedIndex].value;
            race = selectedRace;
            //getting traits
            $.ajax({
                url: "racetraits/" + selectedRace,
                method: "POST",
                dataType: "JSON"
            }).done(function (data) {
                var traits = '<ul id="raceTraits">' + data + '</ul>';
                $('#raceTraits').fadeOut("slow", function () {
                    $(this).replaceWith(traits).fadeIn("slow");
                });
            });
            //getting size
            $.ajax({
                url: "racesize/" + selectedRace,
                method: "POST",
                dataType: "JSON"
            }).done(function (data) {
                var size = data;
                $('#size').val(size);
                recalculateSizeMod();
            });
            //calculating new speed
            calculateSpeed();
            //getting favored class
            $.ajax({
                url: "racefavclass/" + selectedRace,
                method: "POST",
                dataType: "JSON"
            }).done(function (data) {
                var favoredClass = data;
                $('#favClass').val(favoredClass);
            });
            //getting all languages
            $.ajax({
                url: "raceLanguages/" + selectedRace,
                method: "POST",
                dataType: "JSON"
            }).done(function (data) {
                var auto = data['auto'];
                bonusLanguages = data['bonus'];
                for (i = 0; i < auto.length; i++) {
                    if (i == 0)
                        $('#languagesFromRaceDiv').find('input').hide('slow').remove();
                    $('#languagesFromRaceDiv').append('<input type="text" name="languagesRace-' + auto[i] + '" value="' + auto[i] + '" class="form-control languages" readOnly/>').fadeIn('slow');
                }
                addBonusLanguages();
            });
            //getting ability adjustments   
            $.ajax({
                url: "raceAdjustments/" + selectedRace,
                method: "POST",
                dataType: "JSON"
            }).done(function (data) {
                var abilitiesFromData = data;
                $('.abilities-racemod').val(0);
                if (abilitiesFromData.length != 1 && 'None' != abilitiesFromData[0]) {
                    for (var i = 0; i < abilitiesFromData.length; i++) {
                        var typeOfAdjust = abilitiesFromData[i].substr(0, 1);
                        var howMuch = abilitiesFromData[i].substr(1, 1);
                        var abilityToChange = abilitiesFromData[i].substr(2, 3);
                        $('#racemod-' + abilityToChange).val(typeOfAdjust + howMuch);
                    }
                }

                for (var i = 0; i < abilities.length; i++) {
                    recalculateAbilityModifier(abilities[i]);
                }
            });
            //saving throws adjustments 
            $('.st-racial').val("0");
            if ('Halfling' == selectedRace) {
                $('.st-racial').val("1");
            }
        }


        /**
         * This is the function that changes everything related to each class.
         * @author Sara Henriques
         */
        function classSelected() {
            var baseAttack = 0;
            var reflex = 0;
            var fortitude = 0;
            var will = 0;
            //special case for the monk:
            //not yet controled
            var ac = 0;
            var totalLvl = 0;
            $('.classlvls').each(function () {
                totalLvl += parseInt($(this).val());
            });
        {#            var lvlsAvailable = 20;#}
                if (totalLvl > parseInt($('#totalLvl').val())) {
                    $('#totalLvl').val(totalLvl);
        {#                lvlsAvailable = 20 - totalLvl;#}
                    //control here the amount of lvls selectable by the user.
                }

                if (totalLvl > 20) {
                    var offset = $('#classes-div').offset();
                    bootstrap_alert.warning('More than 20 lvls selected', 'warning', 3000, offset.top, (offset.left + $('#classes-div').width() + 10));
                }

                $('.classes').each(function (index) {  /**
                 * ajax to get info about one class selected
                 *@author Eric Amoros modified by Sara Henriques
                 */
                    $.ajax({
                        url: "buildClass/" + $(this).val() + "," + $(".classlvls")[index].value,
                        method: "POST",
                        dataType: "JSON"
                    }).done(function (data) {
                        baseAttack += parseInt(data[0]['baseattack']);
                        reflex += parseInt(data[0]['refsave']);
                        fortitude += parseInt(data[0]['fortsave']);
                        will += parseInt(data[0]['willsave']);
                        ac = parseInt(data[0]['acbonus']);
                    });
                });
                $(document).ajaxStop(function () {
                    $('#st-base-Fortitude').val(fortitude);
                    $('#st-base-Reflex').val(reflex);
                    $('#st-base-Will').val(will);
                    $('#baseAttack').val(baseAttack);
                    $('#grapple-base').val($('#baseAttack').val());
                });
            }

            /**
             * Calculates new speed.
             * This is a function out of raceSelected() because speed is affected by new armor selected
             * @author Sara Henriques
             */
            function calculateSpeed() {
                var speed = 0;
                $.ajax({
                    url: "racespeed/" + race,
                    method: "POST",
                    dataType: "JSON"
                }).done(function (data) {
                    speed = data;
                });
                $(document).ajaxStop(function () {
                    $('#speed').val(speed);
                });
            }

            /**
             * Adds bonus languages available for this build
             * It depends of INT the character has
             * @author Sara Henriques
             */
            function addBonusLanguages() {
                var howManyCharHasBonus = $('#mod-INT').val();
                $('#languagesBonusDiv').hide('slow');
                $('#languagesBonusDiv').find('select').remove();
                if (howManyCharHasBonus > 0) {
                    $('#languagesBonusDiv').show('slow');
                    var optionsBonus = '';
                    var arrayOptions = bonusLanguages;
                    if ("Any" == bonusLanguages[0]) {
                        arrayOptions = ['Abyssal', 'Aquan', 'Auran', 'Celestial', 'Common', 'Draconic', 'Druidic', 'Dwarven', 'Elven', 'Giant', 'Gnome', 'Goblin', 'Gnoll', 'Halfling', 'Ignan', 'Infernal', 'Orc', 'Sylvan', 'Terran', 'Undercommon'];
                    }
                    for (i = 0; i < arrayOptions.length; i++) {
                        optionsBonus += '<option value="' + arrayOptions[i] + '">' + arrayOptions[i] + '</option>'
                    }

                    for (var i = 0; i < howManyCharHasBonus; i++) {
                        $('#languagesBonusDiv').append('<select class="form-control languages bonusSelect" id="bonusSelect-' + i + '">'
                                + optionsBonus + '</select>').fadeIn('slow');
                    }

                }
            }

            /**functions to build parts of the website**/

            /**
             * Builds the abilities divs and attaches it
             * @author Sara Henriques
             */
            function buildAbilities() {
                for (var i = 0; i < abilities.length; i++) {
                    $('<div class="row abilities-row">'
                            + '<div class=" col-md-1 col-lg-1 col-sm-1 col-xs-1">'
                            + '<label for="abilities" class="label label-default">' + abilities[i] + '</label>'
                            + '</div>'
                            + '<div class="col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1 col-md-2 col-lg-2 col-sm-2 col-xs-2 abilities-div">'
                            + '<input type="text" name="ability-score-' + abilities[i] + '" id="score-' + abilities[i] + '" value="10" maxlength="2" class ="abilities abilities-score form-control"/>'
                            + '</div>'
                            + '<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2 abilities-div">'
                            + '<input type="text" name="ability-racemod-' + abilities[i] + '" id="racemod-' + abilities[i] + '" value="0" onchange="validateMod($(this))" maxlength="2" class ="abilities abilities-racemod form-control" readonly/>'
                            + '</div>'
                            + '<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2 abilities-div">'
                            + '<input type="text" name="ability-other-' + abilities[i] + '" id="other-' + abilities[i] + '" onchange="validateMod($(this))" value="0" maxlength="2" class ="abilities abilities-other form-control"/>'
                            + '</div>'
                            + '<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2 abilities-div">'
                            + '<input type="text" name="ability-mod-' + abilities[i] + '" id="mod-' + abilities[i] + '" value="0" class ="abilities abilities-mod form-control" readonly/>'
                            + '</div>'
                            + '</div>').appendTo('#abilities-tab');
                }
                $('.abilities-score').focusout(function () {
                    validateOnlyNumbers($(this));
                    recalculateAbilityModifier($(this).attr("id"));
                });
            }

            /**
             * Builds all the AC inputs and divs and attaches it
             * @author Sara Henriques
             */
            function buildAC() {
                var names = ['total', 'armor', 'shield', 'dex', 'size', 'natural', 'deflect', 'misc'];
                var nameString = ['Total', 'Armor Bonus', 'Shield Bonus', 'DEX Mod.', 'Size Mod', 'Natural Armor', 'Deflect Mod', 'Misc'];
                for (var i = 0; i < names.length; i++) {
                    var total = 'value="0"';
                    if (i == 0) {
                        total = 'value ="10" readonly';
                    }
                    $('<div class="col-md-1 col-lg-1 col-sm-1 col-xs-1 ac-div">'
                            + ' <input type="text" name="ac-' + names[i] + '" id="ac-' + names[i] + '" class ="form-control ac" ' + total + '/>'
                            + '  <label for="ac-' + names[i] + '">' + nameString[i] + '</label></div>').appendTo('#ac-tab');
                }

                $('#ac-size').attr('readonly', true);
                $('#ac-dex').attr('readonly', true);
                $('#ac-armor').attr('readonly', true);
                $('#ac-shield').attr('readonly', true);
                $('#ac-dex').val($('#mod-DEX').val());
                $('.ac').focusout(function () {
                    validateOnlyNumbers($(this));
                    recalculateAC();
                });
                //damage reduction would go here
            }

            /**
             * Builds all the grapple inputs and divs and attaches it
             * @author Sara Henriques
             */
            function buildGrapple() {
                var names = ['total', 'base', 'str', 'size', 'misc'];
                var nameString = ['Total', 'Base Attack', 'STR Mod.', 'Size Mod.', 'Misc'];
                for (var i = 0; i < names.length; i++) {
                    var readonly = 'readonly';
                    if ('misc' == names[i]) {
                        readonly = '';
                    }
                    $('<div class="col-md-1 col-lg-1 col-sm-1 col-xs-1 grapple-div">'
                            + ' <input type="text" name="grapple-' + names[i] + '" id="grapple-' + names[i] + '" class ="form-control grapple" value="0"' + readonly + '/>'
                            + '  <label for="grapple-' + names[i] + '">' + nameString[i] + '</label></div>').appendTo('#grapple-tab');
                }

                $('#grapple-str').val($('#mod-STR').val());
                $('#grapple-base').val($('#baseAttack').val());
                recalculateSizeMod();
                $('#grapple-misc').focusout(function () {
                    validateOnlyNumbers($(this));
                    recalculateGrapple();
                });
            }


            /**
             * Builds one class. Prepared to adapt for multiclass
             * @author Sara Henriques
             * @param {int} nclass how many classes to build
             * @param {string} classSelected selected class
             * @param {string} lvlSelected selected lvl
             * @returns {undefined}
             */
            function buildClass(nclass, classSelected, lvlSelected) {
                for (var i = 0; i < nclass; i++) {
                    $('<div class = "col-md-12 col-lg-12 col-sm-12 col-xs-12 row class-row">'
                            + ' <div class = "col-md-6 col-lg-6 col-sm-8 col-xs-8">'
                            + '     <select class = "col-md-2 form-control classes" onchange="classSelected(event);">'
                            + optionsClass
                            + '    </select>'
                            + ' </div>'
                            + '<div class = "col-md-3 col-lg-3 col-sm-2 col-xs-2">'
                            + '     <select class = "form-control classlvls" onchange="classSelected(event);">'
                            + optionsClassLvl
                            + '      </select>'
                            + '</div>'
                            + ' <div class = "col-md-3 col-lg-3 col-sm-2 col-xs-2">'
                            + '     <span class="glyphicon glyphicon-plus-sign addClass" onclick="addRemoveClass($(this));" aria-hidden="true"></span>'
                            + ' </div>'
                            + '  </div>').appendTo('#classes-div');
                    $('.classes').last().val(classSelected[i]);
                    $('.classlvls').last().val(lvlSelected[i]);
                }
            }

            /**
             * 
             * Builds the inputs to add an item to the build
             * @author Sara Henriques
             * @param {int} nitems, the amount of items to add
             * @param {array} item
             * @param {array} page
             * @param {array} weight
             */
            function buildPossesion(nitems, item, page, weight) {
                for (var i = 0; i < nitems; i++) {
                    $('<div class = "col-md-12 col-lg-12 col-sm-12 col-xs-12 row possessions-row">'
                            + ' <div class = "col-md-5 col-lg-5 col-sm-5 col-xs-5">'
                            + '   <input type="text" name="possession" class ="form-control possession-item" value="' + item[i] + '"/>'
                            + ' </div>'
                            + '<div class = "col-md-3 col-lg-3 col-sm-2 col-xs-2">'
                            + '   <input type="text" name="possession" class ="form-control possession-page" value="' + page[i] + '"/>'
                            + '</div>'
                            + '<div class = "col-md-3 col-lg-3 col-sm-2 col-xs-2">'
                            + '   <input type="text" name="possession"class ="form-control possession-weight" value="' + weight[i] + '"/>'
                            + '</div>'
                            + ' <div class = "col-md-1 col-lg-1 col-sm-1 col-xs-1">'
                            + '     <span class="glyphicon glyphicon-plus-sign addItem" onclick="addRemoveClass($(this));" aria-hidden="true"></span>'
                            + ' </div>'
                            + '  </div>').appendTo('#possessions-div');
                }
            }

            /**
             * adds or removes classes
             * @author Sara Henriques, adapted from checkArmor() or checkWepon()
             * @param {object} object
             * @returns {undefined} */
            function addRemoveClass(object) {
                if (object.hasClass("addClass")) {
                    object.removeClass("addClass").addClass("removeClass");
                    object.removeClass("glyphicon-plus-sign").addClass("glyphicon-minus-sign");
                    buildClass(1, ['Barbarian'], ['1']);
                } else if (object.hasClass("removeClass")) {
                    object.parent().parent().remove();
                }

                if (object.hasClass("addItem")) {
                    object.removeClass("addItem").addClass("removeItem");
                    object.removeClass("glyphicon-plus-sign").addClass("glyphicon-minus-sign");
                    buildPossesion(1, [''], [''], ['']);
                } else if (object.hasClass("removeItem")) {
                    object.parent().parent().remove();
                }
            }

            /**
             * Builds all the saving throws
             * @author Sara Henriques
             */
            function buildSavingThrows() {
                var names = ['Fortitude', 'Reflex', 'Will'];
                var nameInputs = ['total', 'base', 'ability', 'racial', 'misc'];
                var append = '';
                for (var i = 0; i < names.length; i++) {
                    append = '<div class="row abilities-row">'
                            + '<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">'
                            + '<label class="label label-default">' + names[i] + '</label></div>';
                    for (var j = 0; j < nameInputs.length; j++) {
                        var readonly = 'readonly';
                        if ('misc' == nameInputs[j]) {
                            readonly = '';
                        }
                        append = append + '<div class="col-md-1 col-lg-1 col-sm-1 col-xs-1 st-div">' +
                                '<input type="text" name="st-' + nameInputs[j] + '-' + names[i] + '" id="st-' + nameInputs[j] + '-' + names[i] + '" class ="form-control st st-' + nameInputs[j] + ' st-' + names[i] + '" value = "0" ' + readonly + '/></div>';
                    }
                    append += '</div>';
                    $(append).appendTo('#savingthrows');
                }

                $('#sT-ability-Fortitude').val($('#mod-STR').val());
                $('#sT-ability-Reflex').val($('#mod-DEX').val());
                $('#sT-ability-Will').val($('#mod-WIS').val());
                $('.st').focusout(function () {
                    validateOnlyNumbers($(this));
                    recalculateST();
                });
                recalculateST();
            }


            /**functions related to recalculating things the user has just modified**/

            /**
             * recalculates the ac if size changes
             * @author Sara Henriques
             */
            function recalculateSizeMod() {
                if ("Small" == $('#size').val()) {
                    $('#ac-size').val(1);
                    $('#grapple-size').val(-4);
                } else if ("Medium" == $('#size').val()) {
                    $('#ac-size').val(0);
                    $('#grapple-size').val(0);
                }
                recalculateAC();
                recalculateGrapple();
            }

            /**
             * recalculates the st changes
             * @author Sara Henriques
             */
            function recalculateST() {
                var names = ['Fortitude', 'Reflex', 'Will'];
                for (var i = 0; i < names.length; i++) {
                    var total = 0;
                    $('.st-' + names[i]).each(function () {
                        if ("st-total-" + names[i] != $(this).attr('id')) {
                            total += parseInt($(this).val());
                        }
                    });
                    $("#st-total-" + names[i]).val(total);
                }
            }


            /**
             * recalculates the all the AC in case any input changes
             * @author Sara Henriques
             */
            function recalculateAC() {
                var total = 10;
                var totalTouch = 10;
                var totalFlatFooted = 10;
                $('.ac').each(function () {
                    if ("ac-total" != $(this).attr('id')) {
                        total += parseInt($(this).val());
                    }
                    if ("ac-total" != $(this).attr('id') && "ac-armor" != $(this).attr('id') && "ac-shield" != $(this).attr('id') && "ac-natural" != $(this).attr('id')) {
                        totalTouch += parseInt($(this).val());
                    }
                    if ("ac-total" != $(this).attr('id') && "ac-dex" != $(this).attr('id')) {
                        totalFlatFooted += parseInt($(this).val());
                    }
                });
                $('#ac-total').val(total);
                $('#ac-touch').val(totalTouch);
                $('#ac-flatfooted').val(totalFlatFooted);
            }

            /**
             * recalculates the all the AC in case any input changes
             * @author Sara Henriques
             */
            function recalculateIniciative() {
                var total = 0;
                total = parseInt($('#iniciative-dex').val()) + parseInt($('#iniciative-misc').val());
                $('#iniciative').val(total);
            }

            /**
             * recalculates the all the Grapple in case any input changes
             * @author Sara Henriques
             */
            function recalculateGrapple() {
                var total = 0;
                $('.grapple').each(function () {
                    if ("grapple-total" != $(this).attr('id')) {
                        total += parseInt($(this).val());
                    }
                });
                $('#grapple-total').val(total);
            }

            /**
             * recalculates the modifiers
             * @param {string} ability
             * @author Sara Henriques
             */
            function recalculateAbilityModifier(ability) {
                if (ability.length > 3) {
                    ability = ability.substr(ability.length - 3);
                }
                var total = parseInt($('#score-' + ability).val());
                var racemod = $('#racemod-' + ability).val();
                var other = $('#other-' + ability).val();
                if (racemod > 0 && '+' == racemod.substr(0, 1)) {
                    total += parseInt(racemod.substr(1, racemod.length));
                } else {
                    total -= racemod.substr(1, racemod.length);
                }
                if (other > 0 && '+' == other.substr(0, 1)) {
                    total += parseInt(other.substr(1, other.length));
                } else {
                    total -= other.substr(1, other.length);
                }
                total = Math.floor((total - 10) / 2);
                $('#mod-' + ability).val(total);
                if ("INT" == ability) {
                    addBonusLanguages();
                }
                if ("DEX" == ability) {
                    // !!!! ARMOR PENALTY in DEX 
                    $('#ac-dex').val(total);
                    $('#iniciative-dex').val(total);
                    $('#st-ability-Reflex').val(total);
                    recalculateIniciative();
                    recalculateAC();
                    recalculateST();
                }
                if ("CON" == ability) {
                    $('#st-ability-Fortitude').val(total);
                    recalculateST();
                }
                if ("WIS" == ability) {
                    $('#st-ability-Will').val(total);
                    recalculateST();
                }

                if ("STR" == ability) {
                    $('#grapple-str').val($('#mod-STR').val());
                    recalculateGrapple();
                }
            }

            /**
             * gathers all information and sends it
             * @author Sara Henriques
             * @type type */
            $("#btnSave").click(function () {

                var title = $('input[name="titleOfBuild"]').val();
                if (!title) {
                    title = 'untitled';
                }
                var deity = $('#deity').val();
                if (!deity) {
                    deity = 'unreligious';
                }

                var race = $('#raceSelect').val();
                if (!race) {
                    race = 'Human';
                }

                var alignment = $('#alignment').val();
                if (!alignment) {
                    alignment = 'Lawful Good';
                }

                var classes = [];
                $('.classes').each(function () {
                    if (!$(this).val()) {
                        $(this).val('Barbarian');
                    }
                    classes.push($(this).val());
                });
                var classlvls = [];
                $('.classlvls').each(function () {
                    if (!$(this).val()) {
                        $(this).val('1');
                    }
                    classlvls.push($(this).val());
                });
                var str = parseInt($('#score-STR').val());
                if (!str) {
                    str = 10;
                }
                var otherstr = parseInt($('#other-STR').val());
                if (!otherstr) {
                    otherstr = 0;
                }

                var dex = parseInt($('#score-DEX').val());
                if (!dex) {
                    dex = 10;
                }
                var otherdex = parseInt($('#other-DEX').val());
                if (!otherdex) {
                    otherdex = 0;
                }

                var con = parseInt($('#score-CON').val());
                if (!con) {
                    con = 10;
                }
                var othercon = parseInt($('#other-CON').val());
                if (!othercon) {
                    othercon = 0;
                }
                var int = parseInt($('#score-INT').val());
                if (!int) {
                    int = 10;
                }
                var otherint = parseInt($('#other-INT').val());
                if (!otherint) {
                    otherint = 0;
                }
                var wis = parseInt($('#score-WIS').val());
                if (!wis) {
                    wis = 10;
                }
                var otherwis = parseInt($('#other-WIS').val());
                if (!otherwis) {
                    otherwis = 0;
                }
                var cha = parseInt($('#score-CHA').val());
                if (!cha) {
                    cha = 10;
                }
                var othercha = parseInt($('#other-CHA').val());
                if (!othercha) {
                    othercha = 0;
                }

                var acNatural = parseInt($('#ac-natural').val());
                if (!acNatural) {
                    acNatural = 0;
                }
                var acDeflect = parseInt($('#ac-deflect').val());
                if (!acDeflect) {
                    acDeflect = 0;
                }
                var acMisc = parseInt($('#ac-misc').val());
                if (!acMisc) {
                    acMisc = 0;
                }

                var iniciativeMisc = parseInt($('#iniciative-misc').val());
                if (!iniciativeMisc) {
                    iniciativeMisc = 0;
                }
                var fortitudeMisc = parseInt($('#st-misc-Fortitude').val());
                if (!fortitudeMisc) {
                    fortitudeMisc = 0;
                }
                var reflexMisc = parseInt($('#st-misc-Reflex').val());
                if (!reflexMisc) {
                    reflexMisc = 0;
                }
                var willMisc = parseInt($('#st-misc-Will').val());
                if (!willMisc) {
                    willMisc = 0;
                }
                var grapple = parseInt($('#grapple-misc').val());
                if (!grapple) {
                    grapple = 0;
                }

                var items = [];
                $('.possession-item').each(function () {
                    if (!$(this).val()) {
                        $(this).val('');
                    }
                    items.push($(this).val());
                });
                var pages = [];
                $('.possession-page').each(function () {
                    if (!$(this).val()) {
                        $(this).val('');
                    }
                    pages.push($(this).val());
                });
                var weights = [];
                $('.possession-weight').each(function () {
                    if (!$(this).val()) {
                        $(this).val('');
                    }
                    weights.push($(this).val());
                });

                var possessions = [];
                for (var i = 0; i < items.length; i++) {
                    if (!items[i] && !pages[i])
                        continue;
                    possessions.push([items[i], pages[i], weights[i]]);
                }

                var bonusLanguages = [];
                $('.bonusSelect').each(function () {
                    if (!$(this).val()) {
                        $(this).val('Abyssal');
                    }
                    bonusLanguages.push($(this).val());
                });
                var buildExplanation = document.querySelector(".ql-editor").innerHTML;
                if ('<p><br></p>' == buildExplanation) {
                    buildExplanation = '';
                }

                var isAbilityNull = (str == 10 && dex == 10 && con == 10 && int == 10 && wis == 10 && cha == 10);
                var isOtherAbilityNull = (otherstr == 0 && otherdex == 0 && othercon == 0 && otherint == 0 && otherwis == 0 && othercha == 0);
                var isClassesNull = ((classes == [] || classlvls == []) || (classes == ['Barbarian'] && classlvls == ['1']));
                var isAcNOtherNull = (acNatural == 0 && acDeflect == 0 && acMisc == 0 && iniciativeMisc == 0 && reflexMisc == 0 && willMisc == 0);
                if (!(title == 'untitled' && deity == 'unreligious' && race == 'Human' && alignment == 'Lawful Good'
                        && isClassesNull && isAbilityNull && isOtherAbilityNull && isAcNOtherNull && grapple == 0 && possessions == [] && bonusLanguages == [] && buildExplanation == '')) {
                    $.ajax({
                        type: "POST",
                        url: 'saveBuild',
                        data: {
                            titleOfBuild: title,
                            race: race,
                            alignment: alignment,
                            deity: deity,
                            classes: classes,
                            classlvls: classlvls,
                            str: str,
                            strOther: otherstr,
                            dex: dex,
                            dexOther: otherdex,
                            con: con,
                            conOther: othercon,
                            int: int,
                            intOther: otherint,
                            wis: wis,
                            wisOther: otherwis,
                            cha: cha,
                            chaOther: othercha,
                            acNatural: acNatural,
                            acDeflect: acDeflect,
                            acMisc: acMisc,
                            iniciativeMisc: iniciativeMisc,
                            fortitudeMisc: fortitudeMisc,
                            reflexMisc: reflexMisc,
                            willMisc: willMisc,
                            grapple: grapple,
                            possessions: possessions,
                            bonusLanguages: bonusLanguages,
                            buildExplanation: buildExplanation
                        },
                        success: function (serverData) {
                            console.log(this.data);
                            console.log("server info: " + serverData);
                        }
                    });
                }
            });


        /**
         * Check if the row has to be deleted or if it has to show new information 
         * @author: Eric Amoros
         */
        function checkWeapon(object){
          	if($(object).hasClass("addWeapon")){
          		$(object).removeClass("addWeapon").addClass("removeWeapon");
          		$(object).removeClass("glyphicon-plus-sign").addClass("glyphicon-minus-sign");
          		$("#wTable").append('<tr><td style = "display: inline-flex" class = "weapon"><input class="wInput form-control col-xs-10 col-sm-10 col-md-10 col-lg-10" type="text" placeholder="Weapon"/>	<span class="glyphicon glyphicon-plus-sign col-xs-2 col-sm-2 col-md-2 col-lg-2 addWeapon" aria-hidden="true" onclick="checkWeapon(this)"></span></td></tr>');
          		completeWeapon();
          	}
          		
          	else if($(object).hasClass("removeWeapon"))
          		$(object).parent().parent().remove();
      	
      }
      
      /**
       * Check if the row has to be deleted or if it has to show new information
       * @author: Eric Amoros
       */
      function checkArmor(object){
      	if($(object).hasClass("addArmor")){
      		$(object).removeClass("addArmor").addClass("removeArmor");
      		$(object).removeClass("glyphicon-plus-sign").addClass("glyphicon-minus-sign");
      		$("#aTable").append('<tr><td style = "display: inline-flex" class = "armor"><input class="aInput form-control col-xs-10 col-sm-10 col-md-10 col-lg-10" type="text" placeholder="Armor"/>	<span class="glyphicon glyphicon-plus-sign col-xs-2 col-sm-2 col-md-2 col-lg-2 addArmor" aria-hidden="true" onclick="checkArmor(this)"></span></td></tr>');
      		completeArmor();
      	}
      	
      	else if($(object).hasClass("removeArmor"))
      		$(object).parent().parent().remove();
      	
      }
        
        /**
         * Get all weapons names from the database and sends thme as an array to an input, to show to the user a weapon list names while he / she writes in the input.
         * @author: Eric Amoros
         */
        function completeWeapon(){
      	    $.ajax({
			    url: "/weapons",
			    dataType: "JSON",
			    success: function(data){
				    var names = [];
				
				    for(var i = 0; i < data.length; i++){
					    names.push(data[i]['name']);
				    }
				
				    $(".wInput").autocomplete({
					    source: names,
					    response: function(event, ui) {
						    $(".addWeapon").click(function(){
							    checkWeaponName(ui.content, $(this).parent().find(".wInput"));
						    });
					    }
				    });
			    }
		    });
        }
      
        /**
         * Get all armor names from the database and sends them as an array to an input, to show to the user a armor list names while he / she writes in the input.
         * @author: Eric Amoros
         */
        function completeArmor(){
      	    $.ajax({
			    url: "/armors",
			    dataType: "JSON",
			    success: function(data){
				    var names = [];
				
			    	for(var i = 0; i < data.length; i++){
				    	names.push(data[i]['name']);
				    }
				
				    $(".aInput").autocomplete({
					    source: names,
					    response: function(event, ui) {
						    $(".addArmor").click(function(){
							    checkArmorName(ui.content,$(this).parent().find(".aInput"));
						    });
					    }
				    });
			    }
		    });
        }
        
        /**
         * Check if the name is equal to some databases weapons names. The input turns into readonly.
         * @author: Eric Amoros
         */
        function checkWeaponName(names, object){
          	for(var i = 0; i < names.length; i++){
          		if(names[i]['value'] == $(object).val()){
         			$(object).attr('readonly', 'readonly');
          			getWeapon($(object).val(),  $(object));
          			return ;
          		}
          	}
          	
          	$(object).attr('readonly', 'readonly');
      }
      
      /**
       * Return all the information of the selected Weapon.
       * @author: Eric Amoros
       */
      function getWeapon(name, object){
      	$.ajax({
      		url: "/weapon/" + name,
      		dataType: "JSON",
      		success: function(data){
      			$(object).parent().parent().append(
      				"<td class = 'weapon'><div class = 'form-control' disabled>" + data[0]['weapongroup'] + "</div></td>" +
      				"<td class = 'weapon'><div class = 'form-control' disabled>" + data[0]['damages'] + " | " + data[0]['damagem'] + "</div></td>" +
      				"<td class = 'weapon'><div class = 'form-control' disabled>" + data[0]['damagetype'] + "</div></td>" +
      				"<td class = 'weapon'><div class = 'form-control' disabled>" + data[0]['critical'] + "</div></td>" +
      				"<td class = 'weapon'><div class = 'form-control' disabled>" + data[0]['wprange'] + "</div></td>" +
      				"<td class = 'weapon'><div class = 'form-control' disabled>" + data[0]['weapontype'] + "</div></td>"
      			);
      		}
      	})
      }
      
       /**
         * Check if the name is equal to some databases armors names. The input turns into readonly.
         * @author: Eric Amoros
         */
      function checkArmorName(names, object){
      	for(var i = 0; i < names.length; i++){
      		if(names[i]['value'] == $(object).val()){
     			$(object).attr('readonly', 'readonly');
      			getArmor($(object).val(), $(object));
      			return ;
      		}
      	}
      	
      	$(object).attr('readonly', 'readonly');
      }
      
      /**
       * Return all the information of the selected Armor.
       * @author: Eric Amoros
       */
      function getArmor(name, object){
      	$.ajax({
      		url: "/armor/" + name,
      		dataType: "JSON",
      		success: function(data){
      		    if(data[0]['armortype'] == 'Shields')
      		        $('#ac-shield').val(parseInt($('#ac-shield').val()) + data[0]['acbonus']);
      		    
      		    else
      		        $('#ac-armor').val(parseInt($('#ac-armor').val()) + data[0]['acbonus']);
      		    
      		    $('#ac-dex').removeAttr('readonly');
      		    $('#ac-dex').val(parseInt($('#ac-dex').val()) + data[0]['maxdex']);
      		    $('#ac-dex').attr('readonly', 'readonly');
      		    
				$(object).parent().parent().append(
      				"<td  class = 'armor'><div class = 'form-control' disabled>" + data[0]['armortype'] + "</div></td>" + 
      				"<td class = 'armor'><div class = 'form-control' disabled>" + data[0]['acbonus'] + "</div></td>" + 
      				"<td class = 'armor'><div class = 'form-control' disabled>" + data[0]['maxdex'] + "</div></td>" + 
      				"<td class = 'armor'><div class = 'form-control' disabled>" + data[0]['checkpenalty'] + "</div></td>" + 
      				"<td class = 'armor'><div class = 'form-control' disabled>" + data[0]['spellfailure'] + "</div></td>" +
      				"<td class = 'armor'><div class = 'form-control' disabled>" + data[0]['weight'] + "</div></td>" +
      				"<td class = 'armor'><div class = 'form-control' disabled>" + data[0]['ismetal'] + "</div></td>"
      			);
      		}
      	})
      }
      
      /**
       * Fills the table skills when the user selects a class with the skills of the class.
       * @author: Eric Amoros
       */
      function getSkills(){
		$.ajax({
			url: "ClassSkills/" + $(".classes").val(),
			method: "POST",
			dataType: "JSON"
		}).done(function(data){
			for(var i = 0; i < data.length; i++){
				$("#skills").append("<tr class = 'skill col-xs-4 col-sm-4 col-md-4 col-lg-4'><td><div class = 'form-control' disabled>" + data[i][0]['skillname'] + "</div></td></tr>");
			}
		});
      }
      
      /**
       * Clears the skill table when the class changes
       * @author: Eric Amoros
       */
      function clearTable(){
      	$(".skill").remove();
      }
    </script>
{% endblock %}    

