{% extends 'base.html.twig' %}

{% block stylesheets %}

	.feat{
		margin: 10px;
		padding: 10px;
	}
	
	.col{
		/*border: 1px solid black;*/
	}
	
	.separator{
		height:10px;
	}
	
	.row{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	.form-control{
		height: auto;
	}
	
	.form-control label{
		width: auto;
	}
	
	.form-control input{
		display: inline-block;
		width: auto;
	}

{% endblock %}

{% block body %}

	<h1>Feats</h1>
	<div id="filters">
		<div class="row">
			<div class = "form-control" style = "height: 265px;">
				<div class="col col-md-8">
			  <div class="col col-md-12">
					<div class="col col-md-4"><h4><label class = "label label-default" for = "name">Name</label></h4></div>
				 	<div class="col col-md-8"><input class="nameFilter" type="text" placeholder="Feat name"></div>
				</div>
				
				<div class="separator col col-md-12"></div>
	
				<div class="col col-md-12">
					<div class="col col-md-4"><h4><label class = "label label-default" for = "type">Type</label></h4></div>
				 	<div class="col col-md-8">
					  <input type="radio" name="type" class="ftype" value="General"> General<br>
					  <input type="radio" name="type" class="ftype" value="Item Creation"> Item Creation<br>
					  <input type="radio" name="type" class="ftype" value="Metamagic Feats"> Metamagic<br>
					  <input type="radio" name="type" class="ftype" value="Special"> Special
					</div>
				</div>
	
				<div class="separator col col-md-12"></div>
				
				<div class="col col-md-12">
					<div class="col col-md-10"></div>
					<div class="col col-md-2">
						<button class="btn btn-default"> Submit </button>
					</div>
				</div>
			</div>
		  <div class="col col-md-4"><img src="https://image.slidesharecdn.com/3-140612155806-phpapp01/95/dd-35-players-handbook-1-638.jpg?cb=1402588903" alt="Player's Handbook" style="height:250px"></div>
		  </div>
		</div>
	</div>


	<div id="list">
		{% for feat in feats %}
			<div class = "row feat">
				<div class = "form-control">
					<h2>{{ feat['shortdescription'] }}</h2>
					<hr>
					<p>{{ feat['benefit'] }}</p>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}

{% block javascripts %}

	<script>

	$(document).ready(function(){
		var type;
		$("button").click(function(){
			type = '';
			$(".feat").remove();
			
			$(".ftype").each(function(){
				if($(this).is(':checked'))
					type = $(this).val();
			});
			
			console.log(type);
			
			if($(".nameFilter").val() != '' && type == '')
				getByName($(".nameFilter").val());
			
			else if($(".nameFilter").val() == '' && type != '')
				getByType(type);
				
			else if($(".nameFilter").val() != '' && type != '')
				getByFullSearch($(".nameFilter").val(), type)
		})
	});
	
	
	function getByName(name){
		$.ajax({
			url: '/featname/' + name,
			dataType: 'JSON',
			success: function(data){
				console.log(data);
				for(var i=0; i<data.length; i++)
					$("#list").append('<div class="row feat">' +
						'<div class="form-control">' +
						'<h2>' + data[i]["shortdescription"] + '</h2>' +
						'<hr>' +
						'<p>' + data[i]["benefit"] +
						'</div>' +
						'</div>')
			}
		});
	}
		
		function getByFullSearch(name, type){
		$.ajax({
			url: '/feat/' + name + '&' + type,
			dataType: 'JSON',
			success: function(data){
				console.log(data);
				for(var i=0; i<data.length; i++)
					$("#list").append('<div class="row feat">' +
						'<div class="form-control">' +
						'<h2>' + data[i]["shortdescription"] + '</h2>' +
						'<hr>' +
						'<p>' + data[i]["benefit"] +
						'</div>' +
						'</div>')
			}
		});
	}
	
	function getByType(type){
		$.ajax({
			url: '/feattype/' + type,
			dataType: 'JSON',
			success: function(data){
				console.log(data);
				for(var i=0; i<data.length; i++)
					$("#list").append('<div class="row feat">' +
						'<div class="form-control">' +
						'<h2>' + data[i]["shortdescription"] + '</h2>' +
						'<hr>' +
						'<p>' + data[i]["benefit"] +
						'</div>' +
						'</div>')
			}
		});
	}
	
	function getByFullSearch(name, type){
		$.ajax({
			url: '/feat/' + name + '&' + type,
			dataType: 'JSON',
			success: function(data){
				console.log(data);
				for(var i=0; i<data.length; i++)
					$("#list").append('<div class="row feat">' +
						'<div class="form-control">' +
						'<h2>' + data[i]["shortdescription"] + '</h2>' +
						'<hr>' +
						'<p>' + data[i]["benefit"] +
						'</div>' +
						'</div>')
			}
		})
	}
	
</script>

{% endblock %}