{% extends 'base.html.twig' %}

{% block stylesheets %}
	.row{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	.form-control{
		height: auto;
	}
	
	.prst{
		float: right;
	}
	
	.form-control  label{
		display: inline-block;
		width: auto;
	}
	
	.form-control input{
		display: inline-block;
		width: auto;
	}
	
	button{
		float: right;
		margin: 10px 40px;
	}
{% endblock %}

{% block body %}

	<div class = "container col-md-12 col-lg-12 col-sm-12 col-xs-12">
		<div class = "row">
			<h1>Prestige Classes</h1>
		</div>
		
		<div class = "row">
			<div class = "form-control" style = "height: 265px">
				<img class = "prst" src="https://image.slidesharecdn.com/3-140612155806-phpapp01/95/dd-35-players-handbook-1-638.jpg?cb=1402588903" alt="Player's Handbook" style="height:250px">
				
				<h4>
					<label class = "label label-default" for = "name">Name</label>
				</h4>
				<input name = "name" id = "name" class = "form-control"/>

				<hr class = "col-xs-8 col-sm-8 col-md-8 col-lg-8">	
				
				<h4><label class = "label label-default" for = "hitdie">Hit Die</label></h4>
				{% for hitdie in hitdies %}
					<input type = "checkbox" class = "hit" name = "hitdie" val = "{{hitdie}}"/> {{hitdie}}
				{% endfor %}
			
				<br><br>
			
				<button class="btn btn-default"> Submit </button>
			</div>
		</div>
		
		<div id = 'list'>
			{% for prestige in prestiges %}
				<div class = "row prestige">
					<div class = "form-control">
						<h2>{{ prestige['name'] }}</h2>
						<hr>
						<p>{{ prestige['shortdescription'] }}</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
<script>
	$(document).ready(function(){
		
		var hitdie;
		
		/**
		 * Comprobations to know with kind of search the user wants
		 * @author: Eric Amoros
		 */
		$("button").click(function(){
			
			hitdie = [];
			
			$(".prestige").remove();
			$('.hit').each(function(){
				if($(this).is(':checked'))
					hitdie.push($(this).attr('val'));
			});
			
			if($("#name").val() != '' && hitdie.length == 0)
				getByName($("#name").val());
				
			else if(hitdie.length > 0 && $("#name").val() == '')
				getByHitDie(hitdie);
				
			else if(hitdie.length > 0 && $("#name").val() != '')
				getByFullSearch($("#name").val(), hitdie);
		});
		
		/**
		 * Receives the prestige class that contains the part of string that receives
		 * @author: Eric Amoros
		 */
		function getByName(name){
			$.ajax({
				url: '/prestigeclassname/' + name,
				dataType: 'JSON',
				success: function(data){
					for(var i = 0; i < data.length; i++)
						$("#list").append('<div class = "row prestige">' +
																			'<div class = "form-control">' +
																				'<h2>' + data[i]["name"] + '</h2>' +
																				'<hr>' +
																				'<p>' + data[i]["shortdescription"] + '</p>' +
																			'</div>' +
																		'</div>');
				}
			});
		}
		
		/**
		 * Return the prestige class that contains the hitdie tht receives
		 * @author: Eric Amoros
		 */
		function getByHitDie(hitdie){
			$.ajax({
				url: '/prestigeclasshitdie/' + hitdie,
				dataType: 'JSON',
				success: function(data){
					console.log(data);
					for(var i = 0; i < data.length; i++)
						$("#list").append('<div class = "row prestige">' +
																			'<div class = "form-control">' +
																				'<h2>' + data[i]["name"] + '</h2>' +
																				'<hr>' +
																				'<p>' + data[i]["shortdescription"] + '</p>' +
																			'</div>' +
																		'</div>');
				}
			});
		}
		
		/**
		 * Return the prestige class with the params that receives
		 * @author: Eric Amoros
		 */
		function getByFullSearch(name, hitdie){
			$.ajax({
				url: '/prestigeclass/' + name + '&' + hitdie,
				dataType: 'JSON',
				success: function(data){
					for(var i = 0; i < data.length; i++)
						$("#list").append('<div class = "row prestige">' +
																			'<div class = "form-control">' +
																				'<h2>' + data[i]["name"] + '</h2>' +
																				'<hr>' +
																				'<p>' + data[i]["shortdescription"] + '</p>' +
																			'</div>' +
																		'</div>');
				}
			});
		}
	});
</script>
{% endblock %}