<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

        <!-- navbar, buttons and searchbar from https://bootsnipp.com/>-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        {# JQUERY lib required for the autocomplete #}
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <!-- Main Quill library -->
        <script src="//cdn.quilljs.com/1.2.4/quill.js"></script>
        <script src="//cdn.quilljs.com/1.2.4/quill.min.js"></script>

        <!-- Theme included stylesheets -->
        <link href="//cdn.quilljs.com/1.2.4/quill.snow.css" rel="stylesheet">
        <link href="//cdn.quilljs.com/1.2.4/quill.bubble.css" rel="stylesheet">
        <style>
        {% block stylesheets %}{% endblock %}

        header .input-group{
            content: '';
            position: relative;
            display: block;
            height: 90px;
            width: auto;
            background: url(https://placeholdit.imgix.net/~text?txtsize=55&txt=1000%C3%9790&w=1000&h=90) transparent;
            background-position-x: center;
            background-repeat: no-repeat;
            padding-top: 30px;
        }

        header{
            background-color: #9d9d9d;   
        }

        .footer{
            background-color: #9d9d9d;
            width: 100%;
            height: 100px;
            text-align: center;
        }


        .footer::before{
            clear: both;
        }

        .footer  .input-group{
            text-align: center;
            background:  transparent;
        }

        span.copyright {
            font-size: 12px;
            display: block;
            text-align: center;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);

            color: #6e6e6e;
        }

        .space-ad-90{height:90px;}
        .space-50{height:50px;}

        .main-content{
            border: 1px solid black;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }

        /*search input from : https://bootsnipp.com/snippets/featured/stylish-search-box many thanks*/
        .search-query {
            padding-right: 3px;
            padding-right: 4px \9;
            padding-left: 3px;
            padding-left: 4px \9;
            /* IE7-8 doesn't have border-radius, so don't indent the padding */
            margin-bottom: 0;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }

        .search {
            margin-right: 2%;
        }

        .input-group button{
            height: 34px;
            position: relative;
        }

        .login-box{
            margin-left: 10px;
        }

        .form-control,.input-group-btn{
            display:block !important;   
        }

        /** nav bar **/

        .navbar-collapse{
            width:100%;
        }
        .navbar-nav{
            box-shadow: 0 3px 5px rgba(0,0,0,0.5) !important;
            background: #0F0F0F;
            width: 100%;
            text-align: center;
            border-radius: 2px;
            overflow: hidden;
            white-space: nowrap;
        }

        .navbar-nav > li{
            float:none;
            display: inline-block;
            width: 19%;
        }

        .navbar-nav > li > a {
            color: #9d9d9d;
            border-bottom: 1px solid  #080808;
        }

        .navbar-nav > li > a:hover,
        .navbar-nav > li > a:focus {
            color: #fff;
            background-color: transparent;
            border-bottom: 1px solid #f62329;
            background: url("http://s31.postimg.org/9k42omozb/arrow.png") bottom;
            background-repeat: no-repeat;
        }

        .navbar-nav > .active > a,
        .navbar-nav > .active > a:hover,
        .navbar-nav > .active > a:focus {
            color: #fff;
            background-color: #080808;
            border-bottom: 1px solid #f62329;
            background: url("http://s31.postimg.org/9k42omozb/arrow.png") bottom;
            background-repeat: no-repeat;
        }

    </style>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <header role="banner">
        <div class="container">
            <div class="row">
                <div class="input-group col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="search col-md-offset-7 col-md-3  col-sm-offset-6 col-sm-3">
                        <input type="text" class="search-query form-control" placeholder="Search" />
                        <span class="input-group-btn">
                            <button class="btn btn-danger" type="button"> <!-- cambiar btn-danger si se quiere dar estilo -->
                                <span class=" glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                    <span class="login-box">
                        <button onclick="location.href = '{{ path('fos_user_security_login') }}'"  class="btn btn-primary" /> login </button>
                        <button onclick="location.href = '{{ path('fos_user_registration_register') }}'"  class="btn btn-primary" /> join </button>
                    </span>
                </div>
            </div>
        </div>
    </header>

    <div class="col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8 col-sm-12 col-xs-12 container">

        <div class="row space-ad-90 col-md-12 col-lg-12 col-sm-12 col-xs-12"></div>

        <div class="collapse navbar-collapse col-md-12 col-lg-12 col-sm-12 col-xs-12 row">
            <ul class="nav navbar-nav col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <li><a href="{{ path('homepage') }}">Home</a></li>
                <li><a href="{{ path('createbuild') }}">Create Guide</a></li>
                <li><a href="#">Search Guide</a></li>
                <li><a href="/featSearcher">Feats</a></li>
                <li><a href="/prestigeSearcher">Prestige Classes</a></li>
            </ul>
        </div>

        <div class="row space-50  col-md-12 col-lg-12 col-sm-12 col-xs-12"></div>

        <div class="main-content col-md-12 col-lg-12 col-sm-12 col-xs-12row">

        {% block fos_user_content %}{% endblock %}
    {% block body %}{% endblock %}
</div>

<div class="row space-ad-90  col-md-12 col-lg-12 col-sm-12 col-xs-12"></div>
</div>

<div role="footer" class="footer col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <div class="container">
        <div class="input-group col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <p>nombres R DAW</p>
            <p class="copyright">Requires the use of a Roleplaying Game Core Book published by Wizards of the Coast, Inc.</p>
        </div>
    </div>

    {% block javascripts %}    {% endblock %}
</body>
</html>
